<% include ./partials/header %>
    <div class="masonry-layout-content">
        <h1>About</h1>
        <br>
        <p>Hey! This is just a fun app that is made by a dude that wants to live his dream
        as an established Web Developer & Designer.
        By NO MEANS should this act as validation for friendships and should
        be taken very lightly. This is for entertainment purposes only!
        I DO NOT in ANYWAY allow access to this website's database to anyone besides myself. That also being said, don't disclose sensitive information on this website becuase someone can 
        find it by looking at your entries (like come on, use common sense). Also if you disagree or find anything discomforting or offensive with anything on this app
        please refrain from using it anymore. Also if you enter a username new to you and you get redirected to the entry page with entries already on it, that means somebody has gotten to that username before you. That's okay! 
        Just go back to the home page and try again!
        Basically, use common sense, this is a light-hearted website. Now that all the boring stuff is over, go have fun! Go make a quiz! Share the link! See how well others can answer
        your quiz!</p>
        <p>Heart by andriwidodo from the Noun Project has been edited.</p>
        <br>
        <a href="" onclick="back()">Go Back</a>
        <script>
        function back() {
            window.history.back();
        }
        </script>
    </div>
<% include ./partials/footer %>

