<% include ./partials/header %>
    <h1>Fill out this out for others to solve!</h1>
    <p><%= error %></p>
    <form action="/quizmaker/<%= username %>" method="post" id="quizmakerform">
      
      <label for="color">Your favorite color</label>
      <input type="text" name="color"/><br>
      
      <label for="currentage">Your current age</label>
      <input type="number" name="currentage"/><br>
      
      <label for="crush">Your current crush (First Name)</label>
      <input type="text" name="crush"/><br>
      
      <label for="movie">Your favorite movie</label>
      <input type="text" name="movie"/><br>
      
      <label for="pet">How many total pets have you owned?</label>
      <input type="number" name="pet"/><br>
      
      <label for="snack">What is your favorite snack?</label>
      <input type="text" name="snack"/><br>

      <label for="enemy">Who is your enemy (First Name)</label>
      <input type="text" name="enemy"/><br>
      
      <label for="song">What is your favorite song? (Don't include artist)</label>
      <input type="text" name="favsong"/><br>
      
      <label for="song">What song would make you cry? (Don't include artist)</label>
      <input type="text" name="sadsong"/><br>
      
      <textarea name="message" form="quizmakerform">Enter message here to send to your quiz-takers!</textarea><br>
      
      <input type="submit" name="Make quiz for others to take!"/>
    </form>
<% include ./partials/footer %>

