<% include ./partials/header %>
    <div class="masonry-layout-content">
        <h1>Results:</h1>
        <hr style="margin-bottom: 10px;margin-top:10px;">
        You are <%= results %>% accurate for being one of <%= username %>'s friends<br>
        <a href="http://besto.ga">Make your own quiz now!</a>
    </div>
<% include ./partials/footer %>

