<% include ./partials/header %>
  </div>
  <!--<img id="bymateo" src="/images/mateo.svg"/>-->
  <main class="masonry-layout-content">
    <h1>Welcome to Besto</h1>
    <hr>
    <p>Lets find out who is 🔥yours🔥</p>
    <form action="/quizmaker" method="post">
      <input type="text" placeholder="Enter your name!" name="username"/>
      <input type="submit" value="Let's make a quiz! 😉">
    </form>
  </main>
  <div> 
<% include ./partials/footer %>