<% include ./partials/header %>
  <h1>Welcome to Besto</h1>
  <p>Lets find out who is yours</p>
  <form action="/quizmaker" method="post">
    <input type="text" name="username"/>
    <input type="submit" value="Let's make a quiz!">
  </form>
<% include ./partials/footer %>