<% include ./partials/header %>
<div class="masonry-layout-content">
    <h1><%= error %></h1>
    <hr>
    <p><%= desc %></p>
    <p><a href="http://besto.ga">Click here to make a quiz!</a></p>
</div>
<% include ./partials/footer %>

